<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader" />
    <div class="jumbotron">
        <h1>HELLO KAKAOPAY</h1>
        <p class="lead">저장 기능</p>
        <p>
            <a class="btn btn-lg btn-info" href="/upload">CSV 파일 저장</a>
        </p>
        <p class="lead">조회 기능</p>
        <p>
            <a class="btn btn-lg btn-dark" href="/list/banks">은행 목록 </a>
            <a class="btn btn-lg btn-dark" href="/list/sum">년도별 지원금액 합계</a>
        </p>
        <p class="lead">추가 기능</p>
        <p>
            <a class="btn btn-lg btn-secondary" href="/list/predict">금액 예측</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>